.HomePage {
    margin-top: 0px;

    .fullWidthComponent {
        width: 1380px;
        min-height: 559px;
        margin-left: calc(50% - 1380px / 2);
    }

    .fullWidthComponent2 {
        background-color: #f2f2f0;
        width: 12500px;
        margin-left: calc(50% - 12500px / 2);
    }
}

@media screen and (max-width: 900px) {
    .HomePage {
        margin-top: 0px;

        .fullWidthComponent {
            width: 100%;
            height: 600px;
            padding-left: 690px;
        }
        .fullWidthComponent2 {
            width: 390px;
            margin-left: calc(50% - 390px / 2);
        }
    }
}
