.ProductsList {
    width: 100%;
    padding: 10px;

    .filterPanel {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        min-height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        .filter_btns_block {
            .filterBtns {
                width: 140px;
                height: 50px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                color: WHITE;
                border-radius: 5px;
                border: 0.1px solid rgb(198, 196, 196);
                background-color: #1976d2;
            }

            .filterBtns:hover {
                box-shadow: 0 4px 4px rgba(88, 87, 87, 0.4);
            }
        }
    }

    .sortPanel {
        margin-top: 20px;
        text-align: right;
        margin-bottom: 20px;

        .btn {
            border: 0;
        }

        .dropdown-menu {
            padding: 0px;
            .sortBtns {
                border: 0;
                width: 100%;
                height: 30px;
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 900px) {
    .ProductsList {
        .filterPanel {
            width: 320px;
            margin-left: calc(50% - 320px / 2);
        }
    }
}
