.ProductsList {
    width: 100%;
    padding: 10px;
}

.filterPanel {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: aquamarine;

    .filter_btns_block {
        .filterBtns {
            width: 140px;
            height: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 5px;
            border: 0.1px solid rgb(198, 196, 196);
        }

        .filterBtns:hover {
            box-shadow: 0 1px 2px rgba(88, 87, 87, 0.4);
        }
    }
}
