footer {
    width: 100%;
    height: 330px;
    background-color: #1976d2;
    color: white;

    .row {
        visibility: visible;

        .col-md-4 {
            visibility: visible;

            h4 {
                margin-bottom: 50px;
            }

            .divWithInfo {
                text-align: left;
            }

            a {
                color: white;
                text-decoration: none;
            }
            a:hover {
                color: white;
                text-decoration: underline;
                transition: 0.4s;
            }
        }
    }
}
