.Favorites {
    min-height: 348px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;

    .emptyFavorites {
        .emptyFavoritesImg {
            width: 450px;
            margin-left: calc(50% - 450px / 2);
        }

        h5 {
            text-align: center;
            opacity: 0.5;
            text-transform: none;
        }
    }
}

// _____________________________adaptive___________________________________

@media screen and (max-width: 900px) {
    .Favorites {
        margin-top: 300px;
    }
}
