.divForEmptyCartMessage {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    .emptyCartMessage {
        opacity: 0.5;
        text-align: center;
    }
}
